<h1>RSVPs</h1>

<table class="hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Guest</th>
      <th>Song</th>
    </tr>
  </thead>
  <tbody>
    <% @registries.each do |registry| %>
      <tr>
        <td><%= registry.name %></td>
        <td><%= registry.email %></td>
        <% if registry.guest == true %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= registry.song %></td>
      </tr>
    <% end %>
  </tbody>
</table>
